<p class="breadcrumbs"><a href="/volunteer">Volunteer</a><span class="divider">&gt;</span>All Events</p>
<h2 class="lead">All Events</h2>
<p>This page shows all NHS events that are contained in the NHS database. To see more information about an event, click the event's name or click on the link titled "details" under each of the events.</p>
<table cellspacing="0" style="margin-top:20px;" class="eventlists">
<% if ((@hardlisting.blank?) && (@mediumlisting.blank?) && (@easylisting.blank?)) %>
<tr><td style="text-align:center;">No events were found.</td></tr>
<% else
 %w[Hard Medium Easy].each do |difc| 
  counter = true
   @listing = (difc == "Hard")?@hardlisting:((difc == "Medium")?@mediumlisting:@easylisting) 
   if !@listing.blank? %>
	<tr><td colspan="2" class="categoryhead"><%= difc.capitalize %> Events</td></tr>
    <tr><td style="width:465px;padding-right:20px;">
<%  @listing.each do |ev|
		if (counter) %>
			<p><%= link_to ev.name, ev.event_path, :class => "eventtitle" %> (<%= ev.pointdifficulty %>)<br /><%= ev.htmlsynopsis %> <%= link_to "details", ev.event_path %></p>
<%		end
		counter = !counter
	end
 %>	</td><td style="width:465px;">
<% 	counter = false
	@listing.each do |ev|
		if (counter) %>
			<p><%= link_to ev.name, ev.event_path, :class => "eventtitle" %> (<%= ev.pointdifficulty %>)<br /><%= ev.htmlsynopsis %> <%= link_to "details", ev.event_path %></p>
<%		end
		counter = !counter
	end
%></td></tr>
<% end 
end %>
<% end %>
</table>