<p class="breadcrumbs"><a href="/volunteer">Volunteer</a><span class="divider">&gt;</span><%= @target_date.strftime("%B %Y") %> Events</p>
<h2 class="lead"><%= @target_date.strftime("%B %Y") %> Events</h2>
<p>This page shows events that were relevant in the month of <%=@target_date.strftime("%B %Y")%>. To see more information about an event, click the event's name or click on the link titled "details" under each of the events.</p>
<table cellspacing="0" class="eventlists">
<% if ((@hardlisting.blank?) && (@mediumlisting.blank?) && (@easylisting.blank?)) %>
<tr><td style="text-align:center;">No events were found.</td></tr>
<% else
 %w[Hard Medium Easy].each do |difc| 
  counter = true
   @listing = (difc == "Hard")?@hardlisting:((difc == "Medium")?@mediumlisting:@easylisting) 
   if !@listing.blank? %>
	<tr><td colspan="2" class="categoryhead"><%= difc.capitalize %> Events</td></tr>   
    <tr><td>
<%  @listing.each do |ev|%>
			<p><%= link_to ev.name, ev.event_path, :class => "eventtitle" %> (<%= ev.pointdifficulty %>)<br /><%= ev.htmlsynopsis %> <%= link_to "details", ev.event_path %></p>
<% end %>	</td></tr>
<% end 
end %>
<% end %>
</table>