<h1 class="lead">Volunteer</h1>
        <% if !@volunteerannouncement.blank? %><div class="announcementbox"><%=@volunteerannouncement.html_safe %></div><% end %>
<%= @volunteermotivation.html_safe %>
<table cellspacing="0" style="margin-top:40px;font-size:16px;" class="volunteerhome">
    <tr><td style="width:310px;padding-right:40px;">
        <h4 class="lead">Event Listings</h4>
        <p>Events on the NHS website are organized in a logical fashion. The following link lists all volunteer events and ongoing donations for this month. If you are looking for events to do, check out this month's events:</p>
        <p style="margin-bottom:19px;text-align:center;"><a href="<%= listing_path_from_time(@mainline) %>" class="large blue awesome" style=""><%=@mainline.strftime('%B').capitalize %> Event Listings &rarr;</a>
        <% if !@subline.blank? %><div style="text-align:center;">Or see <a href="<%= listing_path_from_time(@subline) %>"><%=@subline.strftime('%B')%> Events</a> instead.</div><%end%></p>
        <h4 class="lead">Archives</h4>
		<p>The archives contain snapshots of active events from past months, so that you can see the events of the past. If you want events from a specific month in the PAST, use these lists:</p>
		<p><ul style="margin-left:30px;">
			<% 
				@archivelinks.each do |linktime|
					%><li><a href="<%=listing_path_from_time(linktime)%>"><%= linktime.strftime('%B %Y') %></a></li><%
				end
			%>
        </ul></p>
		<p>All the current, past, and future NHS events on the website can be listed with the All Events listing below:</p>
		<p><ul style="margin-left:30px;">
            <li><a href="/volunteer/listing/all">All NHS Events</a></li>
		</ul></p>
		<% if false && !@upcoming.blank?%>
			<p>Upcoming events are listed below. Events are kept on this list until 24 hours after their end time.</p>
			<p><ul>
				<% @upcoming.each do |evt|
						%><li><%= link_to evt.name, evt.event_path %> <% if !evt.name.include?("(") %>(<%= evt.eventstart.strftime('%m/%d')%>)<% end %></li><%
					end
				%>
			</ul></p>
		<% end %>
    </td><td style="width:600px;">
   		<h4 class="lead">NHS Policies</h4>
		<%= @volunteerpolicy.html_safe %>
	   	<h4 class="lead">Donation tickets</h4>
		<%= @volunteerdonationticket.html_safe %>
        </td>
    </tr>
</table>