<p class="breadcrumbs"><a href="/leadership">Leadership</a><span class="divider">&gt;</span>Edit an event</p>
<h2 class="lead">Editing event <%= @instance.name %></h2>
<p>Tweak the fields as needed, then press save.</p>
<%= javascript_include_tag "eventpreview" %>
<script type="text/javascript">
$(document).ready(function(){
$("#chairpersonbutton").click(function(){
	if ($("#ne_chairpeople").val() == ""){
		$("#ne_chairpeople").val($("#chairpersonpicker").val());
	} else {
		$("#ne_chairpeople").val($("#ne_chairpeople").val() + "," + $("#chairpersonpicker").val());	
	}
});
});
</script>
<p>Fill in the forms as asked. Tags like %SUMMARY% must be used in the Description and Synopsis fields. They will be automatically replaced with their database values. This is so that the summary, point value, and other data can be used semantically in the program. Developer's notes are provided next to the fields for assistance.</p>
<p><b><u>Please read and follow guidelines for creating and formatting events. They are very important!</u></b></p>
<%= form_tag("/leadership/editevent_do",:method => "post",:class=>"settingform", :id=>"neform") do%>
<table class="largeform">
<input type="hidden" name="ne_id" value="<%= @instance.id %>" />
<tr><td class="l">id</td><td class="r"><%= @instance.id %> (unchangeable)</td></tr>
<tr><td class="l">name</td><td class="r"><input type="text" id="ne_name" name="ne_name" value="<%= @instance.name %>" /> The name of an event should be short, concise, and capitalized correctly. For example, <abbr>Campus Beautification (June 23 2010)</abbr> or <abbr>Walnut Snow Day (Morning Shift)</abbr>. If there are 2 distinct shifts or days, or if the event repeats periodically, put descriptive data in parentheses. It must be in parentheses. Use your own discretion whether to put in a full date like <abbr>Halloween Maze (October 30 2010)</abbr> or a shift number like <abbr>Walk for Cancer (2nd Shift)</abbr> or simply a month like <abbr>Bulletin Board (February)</abbr>. Make sure that this data is in parentheses because that is how the system knows that those events are related! Leave one space on both sides of a set of parentheses, as shown in the examples. Not all events need parentheses, such as <abbr>Breakfast with Santa</abbr> Do not leave any extraneous or unnecessary spaces. Follow and copy the examples.</td></tr>
<tr><td class="l">summary</td><td class="r"><textarea cols="1" rows="1" id="ne_summary" class="discussionbox" name="ne_summary"><%= (h @instance.summary).html_safe %></textarea> The summary is a brief description of what the volunteer is expected to do. Please include details about the purpose of the volunteering, about how many people need to signup, things that the volunteer should bring, things that the volunteer will do, precautions, encouragements, and any other details. Do NOT include the date or time of the event, the point value, the difficulty, signup deadlines, or the chairpeople in charge. These go in another field that you will fill out later.</td></tr>
<tr><td class="l"><br />Important information about dates</td><td class="r">&nbsp;<br /><b>To enter dates:</b> The website can guess what you mean by a date/time. For example, <abbr>February 2nd 2011 4:30PM</abbr> is translated by the computer to <abbr>Wed Feb 02 16:30:00 -0800 2011</abbr>. Timezones and AM/PM are automatically adjusted for. If you want to use a number for the month, you have to do it European style (DD-MM-YYYY) or ISO8601 style (YYYY-MM-DD). To be safe, just use this example: <abbr>January 1st 2000 12:34PM</abbr>.<br />&nbsp;</td></tr>
<tr><td class="l">Note:</td><td class="r">The following dates are in YEAR-MONTH-DATE format (ISO8601).<br />&nbsp;</td></tr>
<tr><td class="l">Defaults</td><td class="r">Use the following values for all donation events:<br /><table><tr><td style="width:150px;">eventstart</td><td>October 7th 2011 12:00PM
</td></tr>
<tr><td>eventend</td><td>May 31st 2012 3:30PM
</td></tr>
<tr><td>signupstart</td><td>October 7th 2011 12:00PM
</td></tr>
<tr><td>signupend</td><td>June 5th 2012 3:30PM
</td></tr>
<tr><td>activestart</td><td>October 1st 2011 12:00PM
</td></tr>
<tr><td>activeend</td><td>June 5th 2012 3:30PM
</td></tr>
<tr><td>limit</td><td>don't forget to add point limits!</td></tr></table><br />&nbsp;</td></tr>
<tr><td class="l">eventstart</td><td class="r"><input type="text" id="ne_eventstart" name="ne_eventstart" value="<%= @instance.eventstart %>" /> The time at which the event starts. For volunteering, this is the time at which volunteers must arrive at the site. For donations, this is the time at which NHS starts taking donations.</td></tr>
<tr><td class="l">eventend</td><td class="r"><input type="text" id="ne_eventend" name="ne_eventend" value="<%= @instance.eventend %>" /> The time at which the event ends. For volunteering, this is the time at which the volunteering should end. For donations, this is the time at which NHS stops taking donations.</td></tr>
<tr><td class="l">signupstart</td><td class="r"><input type="text" id="ne_signupstart" name="ne_signupstart" value="<%= @instance.signupstart %>" /> The time at which the website should start taking signups.</td></tr>
<tr><td class="l">signupend</td><td class="r"><input type="text" id="ne_signupend" name="ne_signupend" value="<%= @instance.signupend %>" /> The time at which the website should stop taking signups.</td></tr>
<tr><td class="l"><br />About &quot;Active Periods&quot;</td><td class="r">&nbsp;<br />Each event (both volunteer and donation) has an active period during which the event is listed under "Active Event Listings". For volunteer events, the active period should start when signups open and should end 24 hours after the event ends. For donation events, the active period should start when you start taking donations (typically when the event is created) and should end when you stop taking donations (typically until the end of the year). <b><u>Do not make a separate event for each semester</u></b>: For year-long donation events, just make 1 event and have the active period go from the beginning of the year until the end of the year. When you give points, you can specify which semester the points are for, but keep both semesters in one single event.<br />&nbsp;</td></tr>
<tr><td class="l">activestart</td><td class="r"><input type="text" id="ne_activestart" name="ne_activestart" value="<%= @instance.activestart %>" /> The time at which the event should start appearing in active listings.</td></tr>
<tr><td class="l">activeend</td><td class="r"><input type="text" id="ne_activeend" name="ne_activeend" value="<%= @instance.activeend %>" /> The time at which the event should stop appearing in active listings.</td></tr>
<tr><td class="l">autoaccept</td><td class="r"><input type="checkbox" id="ne_autoaccept" name="ne_autoaccept" value="acceptthem"<% if @instance.autoaccept %> checked="checked"<% end %> /><%=@instance.autoaccept%> This option applies to volunteer events only. If it is checked, then there will be no waiting list, and all signed-up members will be expected to come. If it is not checked, all volunteers will first be put on a waiting list until a chairperson hand-picks the volunteers that (s)he wants. For donation events, it does not matter whether you check this or not. There is no effect.</td></tr>
<tr><td class="l">donation</td><td class="r"><input type="checkbox" id="ne_donation" name="ne_donation" value="isdonation"<% if @instance.donation %> checked="checked"<% end %> /> Check this box if the event is a donation. If you check this box, members will not be able to signup themselves. Chairpeople must add points through the Leadership CP.</td></tr>
<tr><td class="l">pointvalue</td><td class="r"><input type="text" id="ne_pointvalue" name="ne_pointvalue" value="<%= @instance.pointvalue%>" /> The number of points that the event is worth. The actual amount awarded to each member can be adjusted when you add points after the event. Input only numbers [0-9], no letters or any of that junk. If the point value depends on the number/type of the volunteering/donations received, just put 1, but later, when you're filling out the <abbr>Description</abbr> and <abbr>Synopsis</abbr> fields, make sure you specify how the point value is determined.</td></tr>
<tr><td class="l">difficulty</td><td class="r"><select id="ne_difficulty" name="ne_difficulty"><option value="EASY"<%if @instance.difficulty == "EASY"%> selected="selected"<%end%>>EASY</option><option value="MEDIUM"<%if @instance.difficulty == "MEDIUM"%> selected="selected"<%end%>>MEDIUM</option><option value="HARD"<%if @instance.difficulty == "HARD"%> selected="selected"<%end%>>HARD</option></select> The difficulty of the event. If the difficulty depends on the number/type of volunteering/donations received, just put "EASY", but later, when you're filling out the <abbr>Description</abbr> and <abbr>Synopsis</abbr> fields, make sure you specify how the difficulty is determined.</td></tr>
<tr><td class="l">chairpeople<br />(careful!) read this &rarr;</td><td class="r"><input type="text" name="ne_chairpeople" id="ne_chairpeople" value="<%= @instance.chairpeople%>" /> IMPORTANT: Do not type into this box directly. Instead, use the following method: Select a chairperson: <select id="chairpersonpicker"><%
	@cplist.each do |cp|
	%><option value="<%=cp.id%>"><%=cp.name%></option><%
	end
	%></select> then click this: <button type="button" id="chairpersonbutton">add chairperson</button>. The chairperson list is a list of comma-delimited ID's.</td>
<tr><td class="l">comments</td><td class="r"><textarea cols="1" rows="1" class="discussionbox" name="ne_comments"><%= (h @instance.comments).html_safe %></textarea> No real significance.</td></tr>
<tr><td class="l"><br />About &quot;tagging&quot;</td><td class="r">&nbsp;<br />Each event has 2 more fields that summarize information about the event. The <abbr>description</abbr> is shown on the <abbr>view single event page</abbr>. It contains a list of all the details of the event. The <abbr>synopsis</abbr> is shown on the <abbr>event listings pages</abbr>. It contains a short description of the event. Follow the example templates shown. Don't forget to specify the PLACE of the event, even for donations! There are special words called &quot;tags&quot; that you can use in your description and synopsis. They will be replaced with the values that you entered above. You SHOULD use these tags unless it's absolutely necessary not to: <abbr>%SUMMARY%</abbr>, <abbr title="equivalent to %STARTTIME% to %ENDTIME%">%DATETIME%</abbr>, <abbr>%STARTTIME%</abbr>, <abbr>%ENDTIME%</abbr>, <abbr>%POINTVALUE%</abbr>, <abbr>%DIFFICULTY%</abbr>. You may choose to use these optional tags as well: <abbr>%SIGNUPSTART%</abbr>, <abbr>%SIGNUPEND%</abbr>, <abbr>%ACTIVESTART%</abbr>, <abbr>%ACTIVEEND%</abbr>.<br />&nbsp;</td></tr>
<tr><td class="l">description</td><td class="r"><textarea cols="1" rows="1" class="discussionbox" id="ne_description" name="ne_description" style="height:150px;vertical-align:top;"><%= (h @instance.description).html_safe %></textarea></td></tr>
<tr><td class="l">description (preview)</td><td class="r">Use this tool to see a preview of your description.<div style="display:block;vertical-align:top;"><button type="button" id="preview_description">Update Description Preview</button><br /><p id="description_preview" style="height:180px;overflow:scroll;border:1px solid #666;max-width:585px;width:585px;min-width:585px;font-family:Georgia, serif !important;font-size:16px;"></p></div></td></tr>
<tr><td class="l">synopsis</td><td class="r"><textarea cols="1" rows="1" class="discussionbox" id="ne_synopsis" name="ne_synopsis" style="height:150px;vertical-align:top;"><%= (h @instance.synopsis).html_safe %></textarea></td></tr>
<tr><td class="l">synopsis (preview)</td><td class="r">Use this tool to see a preview of your synopsis.<div style="display:block;vertical-align:top;"><button type="button" id="preview_synopsis">Update Synopsis Preview</button><br /><p id="synopsis_preview" style="height:180px;overflow:scroll;border:1px solid #666;max-width:585px;width:585px;min-width:585px;font-family:Georgia, serif !important;font-size:16px;"></p></div></td></tr>
<tr><td class="l">submit</td><td class="r"><button type="submit">Save</button></td></tr>
</table>
<% end %>