<div style="text-align:center;">
<h2 class="lead" style="display:none !important;">Login to WalnutNHS</h2>
<h2><a href="/"><img src="/images/loginlogo.png" alt="WalnutNHS" /></a></h2>
<script type="text/javascript">
	<% auth_key = generate_challengekey
	   auth_challenge = generate_challenge
	   challenge_hash = hash_challenge auth_challenge,auth_key %>
	var levelone = "<%= get_level_one %>";
	var auth_challenge = "<%= auth_challenge %>";
	var auth_challengehash = "<%= challenge_hash %>";
</script>
<%= javascript_include_tag "sha512","password" %>
<% if (session[:login_error] === true)%>
	<p style="color:#F11818;" class="lead">Sorry that student id and password do not match.</p>
<% session[:login_error] = nil
elsif (session[:login_success] === true)
goodbyes = ["Bye-bye~!","Ciao~!","Sayonara~!","Adios~!","See ya~!","Later, dude~!","Goodbye~!"]
%>
	<p style="color:#3f8eaf;" class="lead"><%= goodbyes[rand(goodbyes.size)] %></p>
<% session[:login_success] = nil
else
	%><div style="margin-bottom:10px;"></div><%
end %>
<table cellspacing="0" style="margin:20px auto;margin-top:1px;" class="loginfields">
	<tr><td style="text-align:right;padding-right:4px;">Student ID:</td><td style="text-align:left;"><input type="text" id="login_studentid" tabindex="1" /></td></tr>
	<tr><td style="text-align:right;padding-right:4px;">Password:</td><td style="text-align:left;"><input type="password" id="login_password" style="margin-right:4px;" tabindex="2" /><a href="/login/forgot" tabindex="4">forgot?</a></td></tr>
	<tr id="loginbutton"><td colspan="2" style="padding-top:15px;font-size:13px;" class="buttons"><button type="submit" id="login_button" tabindex="3"><img src="/images/lock.png" />Login</button></td></tr>
    <tr id="loadingbutton" style="display:none;"><td colspan="2" style="padding-top:19px;font-size:15px;" class="buttons">communicating... please wait</td></tr>
</table>
<%= form_tag("/login/do",:method => "post", :id => "sl_form") do%>
<%= hidden_field_tag :sl_studentid %>
<%= hidden_field_tag :sl_challenge %>
<%= hidden_field_tag :sl_challengehash %>
<%= hidden_field_tag :sl_superhash %>
<% end %>
</div>