<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

                   88                          88         
                   88                          88         
                   88                          88         
        ,adPPYba,  88  ,adPPYYba,  8b,dPPYba,  88   ,d8   
       a8"     ""  88  ""     `Y8  88P'   "Y8  88 ,a8"    
       8b          88  ,adPPPPP88  88          8888[      
       "8a,   ,aa  88  88,    ,88  88          88`"Yba,   
        `"Ybbd8"'  88  `"8bbdP"Y8  88          88   `Y8a   
                        .                      .      .  
                        |-.. .  .-..-..-..-,.-.|-. . .|-.
                        `-''-|  '  `-'`-|`'-'  ' '-'-'`-'
                           `-'        `-'                
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= @pagetitle %></title>
<meta name="description" content="<%= @pagedescription %>" />
<meta name="keywords" content="<%= @pagekeywords %>" />
<link rel="shortcut icon" href="/favicon.png" />
<link rel="icon" href="/favicon.png" />
<link rel="apple-touch-icon" href="/fire.png"/>
<meta name="viewport" content="width=980"/>
<%= stylesheet_link_tag "clark","zurbbuttons" %>
<!--[if IE]><link type="text/css" rel="stylesheet" href="/stylesheets/ie.css" media="all" /><![endif]-->
<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "application" if isloggedin? %>
<%= csrf_meta_tag %>
</head>

<body class="login">
<div id="main-login">
<%= yield %>
</div>
</body>
</html>
